@import "src/constants";
@import "src/helpers";

.wrapper {
  display: flex;
  padding: pxToRem(2) pxToRem(4);
  align-items: center;
  gap: pxToRem(10);

  border-radius: 4px;
  color: $color-black90;
}

.queue {
  background: rgba(255, 0, 0, 0.20);
}

.development {
  background: rgba(255, 153, 0, 0.20);
}

.done {
  background: rgba(0, 255, 26, 0.20);
}