@import "src/constants";
@import "src/helpers";

.card {
  display: flex;
  padding: pxToRem(12);
  flex-direction: column;
  align-items: flex-start;
  width: pxToRem(200);
  gap: pxToRem(8);

  border-radius: 4px;
  background: $color-white;
  color: $color-black90;
  @include text_caption;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.03;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: pxToRem(2);
  align-self: stretch;

  span {
    display: flex;
    align-items: center;
    gap: pxToRem(12);
  }
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: pxToRem(2);
}

.addition {
  display: flex;
  align-items: flex-start;
  gap: pxToRem(12);
}

